# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.

submit.tar.gz
submit.tar.xz
starter_files.tar.gz
starter_files.tar.xz

/insta485/html/
/hello/html/
/hello_css/html/

*.pem
*.db
var/

env/
insta485.egg-info
node_modules/
__pycache__
cookies.txt
bundle.js
tmp
session.json
var

tmp
output

output*
total_document_count.txt
*/hadoop/inverted_index/inverted_index.txt

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
*node_modules*
files_for_autograder_io/
*/var/*

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
